
<table class="table table-hover mt-5">
  <thead>
      <tr class="text-center">
     <th colspan="7">
         <a href="/addItem"><button class="btn btn-primary">Agregar</button></a>
     </th>
</tr>
<tr>

      <th scope="col">Id</th>
      <th scope="col">Nombre</th>
      <th scope="col">Color</th>
      <th scope="col">Precio</th>
      <th scope="col">Imagen</th>
      <th class="text-center" scope="col">Acciones</th>
      
    </tr>
  </thead>
  <tbody>
      {{#each data}}
    <tr>
      <td>{{id}}</td>
      <td>{{nombre}}</td>
      <td>{{color}}</td>
      <td>{{precio}}</td>
      <td> <img src={{imageURL}} alt="{{name}}"></td>
      <td class="text-center">
<a href="/handleEdit/{{id}}"><button class="btn btn-danger">Borrar</button></a>
<a href="/handleEdit/{{id}}"><button class="btn btn-warning">Cambiar</button></a>

      </td>
    </tr>
   {{/each}}
    
  </tbody>
</table>